<!DOCTYPE html>
<html>
<head>
  <title>Registration Form</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h4>Registration Form</h4>
          </div>
          <div class="card-body">
            <form action="" method="post">
           {% csrf_token %}
              <div class="form-group">
                <label>Username:</label>
                <input type="text" class="form-control" name="username" required>
              </div>
              <div class="form-group">
                <label>Email:</label>
                <input type="email" class="form-control" name="email" required>
              </div>
              <div class="form-group">
                <label>Password:</label>
                <input type="password" class="form-control" name="password" required>
              </div>
              <div class="form-group">
                <label>Confirm Password:</label>
                <input type="password" class="form-control" name="cpassword" required>
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="terms_and_conditions" required>
                <label class="form-check-label" for="terms_and_conditions">I agree to the terms and conditions</label>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
            {% for msg in messages %}
            <h3>{{msg}}</h3>
           {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
